<!-- <input
  placeholder="🔎"
  type="text"
  [value]="searchText"
  (input)="setSearchText($event)"
/> -->
<ul>
  <input
    placeholder="🔎"
    type="text"
    #searchInput
    [value]="searchText"
    (input)="searchText = searchInput.value"
  />
  <!-- <ng-template
    ngFor
    let-book
    let-i="index"
    [ngForOf]="books | search: searchText"
  >
    <h5>{{ i }} {{ book.title }}</h5>
  </ng-template> -->
  <app-book-preview
    *ngFor="let book of books | search: searchText"
    [book]="book"
    (bookSelected)="goToBook($event)"
    [(foo)]="book.title"
  ></app-book-preview>
</ul>
<!-- <ul *ngIf="books">
  <app-book-preview
    *ngFor="let book of transform(books, searchText)"
    [book]="book"
    (bookSelected)="goToBook($event)"
    [(foo)]="book.title"
  ></app-book-preview>
</ul> -->
