<!-- <input
  placeholder="🔎"
  type="text"
  [value]="searchText"
  (input)="setSearchText($event)"
/> -->
<ul>
  <input
    placeholder="🔎"
    type="text"
    #searchInput
    [value]="searchText"
    (input)="searchText = searchInput.value"
  />
  <app-book-preview
    *ngFor="let book of books | search: searchText"
    [book]="book"
    (bookSelected)="goToBook($event)"
    [(foo)]="book.title"
  ></app-book-preview>
</ul>
<!-- <ul *ngIf="books">
  <app-book-preview
    *ngFor="let book of transform(books, searchText)"
    [book]="book"
    (bookSelected)="goToBook($event)"
    [(foo)]="book.title"
  ></app-book-preview>
</ul> -->
