<h3>Create a Book</h3>
{{ myForm.valid }}
<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <fieldset *ngFor="let field of formKeys">
    <legend>{{ field }}</legend>

    <input
      [formControlName]="field"
      [type]="field === 'numPages' ? 'number' : 'text'"
    />
  </fieldset>
  <ng-container formArrayName="author">
    <fieldset>
      <legend>Author</legend>
      <ng-container *ngFor="let author of authors.controls; let i = index">
        <input type="text" [formControlName]="i" />
        <span (click)="deleteAutor(i)">❌</span>
      </ng-container>
      <br />
      <span (click)="addAutor()">➕</span>
    </fieldset>
  </ng-container>
  <button type="submit" [disabled]="!bookForm.valid">Save</button>
</form>
{{ bookForm.value | json }}
