<h5>New Book</h5>

<form [formGroup]="newBookForm" (ngSubmit)="send($event)">
  <label for="isbn">ISBN:</label><br />
  <input type="text" name="isbn" formControlName="isbn" />
  @if (newBookForm.get("isbn")?.hasError("isbnError")) {
    <small> {{ newBookForm.get("isbn")?.errors?.["isbnError"] }} </small>
  }
  @if (
    newBookForm.get("isbn")?.touched &&
    newBookForm.get("isbn")?.hasError("required")
  ) {
    <small>!!!!!!!!!</small>
  }
  @if (newBookForm.get("isbn")?.hasError("minlength")) {
    <small
      >Argh.
      {{ newBookForm.get("isbn")?.errors?.["minlength"].actualLength }} ist
      nicht
      {{ newBookForm.get("isbn")?.errors?.["minlength"].requiredLength }}</small
    >
  }
  <br />
  <input type="text" [formControlName]="'title'" /><br />
  <input type="text" formControlName="author" />
  @if (newBookForm.get("author")?.hasError("author")) {
    <small> {{ newBookForm.get("author")?.errors?.["author"] }} </small>
  }
  <br />
  <input type="text" formControlName="subtitle" /><br />
  <input type="text" formControlName="abstract" /><br />
  <button [disabled]="!newBookForm.valid" type="submit">send</button>
</form>
