<h3>Welcome to my 📖🐒</h3>
<div class="search">
  <input #input (input)="searchTerm = input.value" />
</div>
<button (click)="count = 4">4</button>
<button (click)="count = 6">6</button>
<button (click)="count = -1">all</button>
<hr />
<!-- <pre *ngIf="books$ | async as foo" [innerText]="foo | json"></pre> -->
<!-- <hr /> -->
<!-- {{ searchTerm }} -->

<app-book-card
  [content]="book"
  (detailClick)="goToBookDetails($event)"
  *ngFor="let book of books$ | async | bookFilter : searchTerm"
></app-book-card>
