.card {
  display: block;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  border: 2px solid hotpink;
  box-shadow: 5px 5px 5px 5px;
  background-color: rgb(212, 0, 255);
  color: #000;
}
.foo {
  font-style: italic;
}
