<hr />
<ng-content></ng-content>
<!-- <pre>{{ books | json }}</pre> -->
<hr />

<h1 *ngIf="error">Danger!</h1>

<!-- <pre>{{ JSON.stringify(books) }}</pre> -->
<h1 *ngIf="loading">Loading...</h1>
<input type="text" #search (input)="setSearchTerm(search.value)" />
{{ searchTerm }}
<app-book-card
  [content]="book"
  *ngFor="let book of books() | filterBooks : searchTerm"
  (detailClick)="pong($event)"
/>
<hr />
<!-- <app-book-card
  [content]="book"
  *ngFor="let book of books"
  (detailClick)="pong($event)"
>
</app-book-card> -->
