<form [formGroup]="myForm">
  <input type="number" formControlName="zip" /><br />
  <input
    type="text"
    formControlName="name"
    [attr.aria-invalid]="
      myForm.controls.name.dirty && myForm.controls.name.invalid
    "
  />
  <span *ngIf="myForm.controls.name.dirty && myForm.controls.name.invalid"
    >⚡</span
  ><br />
  <input type="checkbox" formControlName="confirmed" />

  <select formControlName="state">
    <option *ngFor="let s of states" [value]="s">{{ s }}</option>
  </select>
</form>
<pre>{{ myForm.value | json }}</pre>
