<!-- <input type="text" (input)="setSearchString($event)" />
<input type="text" #searchInput (input)="searchString = searchInput.value" /> -->

<app-search [(searchString)]="searchString" />

@for (book of books | bookFilter: searchString; track book.title) {
  @if ($first) {
    <h1>{{ "Books" | uppercase }}</h1>
  }
  <app-book-card
    [content]="book"
    (detailClick)="navigate($event)"
  ></app-book-card>
}
@for (book of transform(books, searchString); track book.title) {
  @if ($first) {
    <h1>{{ "Books" | uppercase }}</h1>
  }
  <app-book-card
    [content]="book"
    (detailClick)="navigate($event)"
  ></app-book-card>
}
