// colorful
// $bg: #98dbc6;
// $cardbg: #5bc8ac;
// $border: #336a5c;
// $highlight: #e6d72a;
// $accent: #f18d9e;

// dark
// $bg: #363237;
// $cardbg: #2d4262;
// $border: #223047;
// $highlight: #73605b;
// $accent: #d09683;

// blue
$bg: #4d648d;
$cardbg: #283655;
$border: #1b2539;
$highlight: #d0e1f9;
$accent: #1e1f26;
